<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Alumnos matriculados en horario de mañana:</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Genero</th>
                <th>Fecha de Matricula</th>
                <th>Total Asignaturas</th>
                <th>Foto</th>
            </tr>
        </thead>
        <!-- <tbody>
            <tr th:each=" alumno : ${alumnos}">
                <td th:text="${alumno.nombre}"></td>
                <td th:text="${alumno.apellidos}"></td>
                <td th:text="${alumno.genero}"></td>
                <td th:text="${alumno.fechaDeMatricula}"></td>
                <td th:text="${alumno.totalAsignaturas}"></td>
                <td th:text="${alumno.foto}"></td>            
            </tr>
        </tbody> -->
    </table>
    
</body>
</html>