<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div th:each="entry : ${listAlumnos}" >
        <h1 th:text=" 'List of alumnos matriculados en Curso : '+ ${entry.key.descripcion}+' con Horario : ' + ${entry.key.horario}"></h1>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Genero</th>
                    <th>Fecha de Matricula</th>
                    <th>Total Asignaturas</th>
                    <th>Foto</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="alumno : ${entry.value}" style="text-align: center;">
                    <td th:text="${alumno.nombre}"></td>
                    <td th:text="${alumno.apellidos}"></td>
                    <td th:text="${alumno.genero}"></td>
                    <td th:text="${alumno.fechaDeMatricula}"></td>
                    <td th:text="${alumno.totalAsignaturas}"></td>
                    <td style="border: 1px solid grey;">
                        <img th:src="@{/images/}+${alumno.foto}" 
                        alt="image del alumno: + ${alumno.nombre} +${alumno.apellidos}">
                    </td>                    
                </tr>
            </tbody>
        </table>
</div>
    
</body>
</html>