<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the alumnos Website!!</h1>
    <h2>Listado de los alumnos matriculados</h2>
    <table style="width:60%; ">
        <thead>
            <tr >
                <th style="border: 1px solid grey;">Nombre</th>
                <th style="border: 1px solid grey;">Apellidos</th>
                <th style="border: 1px solid grey;">Genero</th>
                <th style="border: 1px solid grey;">Fecha de Matricula</th>
                <th style="border: 1px solid grey;">Total Asignaturas</th>
                <th style="border: 1px solid grey;">Foto</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each=" alumno : ${alumnos}" style="text-align: center;">
                <td th:text="${alumno.nombre}" style="border: 1px solid grey;"></td>
                <td th:text="${alumno.apellidos}" style="border: 1px solid grey;"></td>
                <td th:text="${alumno.genero}" style="border: 1px solid grey;"></td>
                <td th:text="${alumno.fechaDeMatricula}" style="border: 1px solid grey;"></td>
                <td th:text="${alumno.totalAsignaturas}"style="border: 1px solid grey;"></td>
                <td style="border: 1px solid grey;">
                    <img th:src="@{/images/}+${alumno.foto}" 
                    alt="image del alumno: + ${alumno.nombre} +${alumno.apellidos}">
                </td>
                <td>
                    <a th:href="@{/deleteAlumno/}+${alumno.id}">DELETE</a>
                </td> 
                <td>
                    <a th:href="@{/actualizar/}+${alumno.id}">EDIT</a>
                </td>              
            </tr>
        </tbody>
    </table>
    <br>
    <tr>
        <a th:href="@{/formularioAlta}">ADD AN ALUMNO</a>
    </tr> 
    <br>
    <tr>
        <a th:href="@{/listadoHorario}">ALUMNOS HORARIO MAÑANA</a>
    </tr>
    <br>
    <tr>
        <a th:href="@{/listCurso}">ALUMNOS ORGANIZADO EN CURSOS</a>
    </tr> 
</body>
</html>